.summary {
    padding: 2rem 3rem 2rem;
    margin: 2rem 0;
    background: #f6f6f6  url("../../media/images/misc/city.svg") center 40% no-repeat;
    background-size: 99%;
}

.summary .snippet-content{
    padding: 0 0 0 32px;
}

.summary .uber-button{
    bottom: 0;
}

.summary .ant-card-head-title{
    text-align: center;
    text-transform: uppercase;
    line-height: 1.68;
    letter-spacing: .15rem;
    font-size: 1rem;
}

.summary p{
    line-height: 2;
}

.summary .cards-container{
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
}

.summary .card-wrapper{
    flex: 0 0 22%;
    display: flex;
}