.contact-snippet {
    padding: 1rem 1.5rem;
    margin: 2rem 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    /*background: #f6f6f6 url("../../media/images/misc/city.svg") center 40% no-repeat;*/
    /*background-size: 99%;*/
}

.contact-snippet .snippet-content{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.contact-snippet .subtitle {
    display: block;
}

.contact-snippet .premium-outbound-link{
    background-color: #0a0a0a;
    border: 2px solid #0a0a0a;
    margin: 1rem 0;
    width: 200px;
}