.contact-snippet {
    padding: 1rem 1.5rem;
    margin: 2rem 0;
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-flex-flow: column nowrap;*/
    /*flex-flow: column nowrap;*/
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/

    /*background: #f6f6f6 url("../../media/images/misc/city.svg") center 40% no-repeat;*/
    /*background-size: 99%;*/
}

.contact-snippet .subtitle {
    display: block;
}

.contact-snippet .premium-button{
    background-color: #0a0a0a;
    border: 2px solid #0a0a0a;
}