.services-snippet {
    padding: 2rem 1.5rem;
    background: #0A151C url("../../media/images/misc/city2.svg") center 44% no-repeat;
    background-size: 99%;
    color: #fafafa;

    text-align: center;
}

.services-snippet h1{
    color: inherit;
}

.services-snippet .uber-button {
    padding: 16px;
    display: block;
    max-width: 210px;
    text-align: center;
}

.services-snippet .arrow {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.services-snippet .button:hover .arrow {
    margin-left: 5px;
}

.services-snippet .ant-card-head-title {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.68;
    letter-spacing: .15rem;
    font-size: 1rem;
}

.services-snippet p {
    line-height: 2;
    margin-bottom: 64px;
}

.services-snippet .ant-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.services-snippet .cards-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.services-snippet .card-wrapper{
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 500px;
}

.services-snippet .card-wrapper .ant-card{
    height: 100%;
}

.services-snippet .card-wrapper .ant-card .uber-button{
    width: 210px;
    position: absolute;
    bottom: 20px;
}

/*Responsive Code*/
@media screen and (max-width: 768px){
    .services-snippet {
        background-size: 400%;
    }
}