.work-snippet {
    background: linear-gradient(rgba(139, 51, 57, 0.5), rgba(139, 51, 57, 0.8)), url("../../media/images/banners/3.jpg") center no-repeat fixed;
    background-size: cover;
    color: #fafafa;
    padding: 0 1.5rem;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

.work-snippet h1 {
    color: inherit;
}

.work-snippet hr {
    background-color: #fafafa;
}

.works-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.works-container .work-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;
    margin: 1rem;
    border: 2px solid #fafafa;
    color: #fafafa;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 1.68;
    letter-spacing: .2rem;
    font-size: .5rem;
}

/*Animation Code*/

.work-showcase {
    background-image: -webkit-linear-gradient(30deg, #fafafa 50%, transparent 50%);
    background-image: linear-gradient(30deg, #fafafa 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.work-showcase:hover {
    background-position: 0%;
    color: #0a0a0a;
}

.work-snippet .snippet-content {
    padding: 4rem 0 3rem 0;
}


/*Responsive Code*/
@media screen and (max-width: 463px) {
    .works-container {
        justify-content: center;
    }
}

@media screen and (max-width: 992px) {
    .work-snippet {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }

    .work-snippet .works-container {
        order: 2;
    }

    .work-snippet .snippet-content {
        order: 1;
    }
}