.home-banner {
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../media/images/banners/home.jpg") bottom no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fafafa;
}

.home-banner .banner-content {
    padding: 2rem 1.5rem;
    position: relative;
}

.home-banner .Cursor.Cursor--blinking{
    font-size: 2rem;
}

.home-banner img {
    width: 15rem;
}

.home-banner h1, .home-banner img {
    /* Text styles */
    line-height: 1.15;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4.5rem;
    letter-spacing: .25rem;
    color: #fafafa;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5rem;

    text-rendering: optimizeLegibility;
}

.home-banner span.subtitle {
    line-height: 1.68;
    letter-spacing: .25rem;
    font-size: 2.5rem;
}

.home-banner p {
    text-align: justify;
    word-break: normal;
    line-height: 2.4;
    margin: 20px 0 25px;
    color: inherit;
    font-size: 1rem;
}

.home-banner .button {

    /* Padding and margins */
    padding: 0.7rem 1rem;
    margin-top: 25px;

    /* Text styles */
    color: #fafafa;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;

    /* Border styles */
    border: 1px solid #fafafa;
}